html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
ol, ul {
	list-style: none;
}
a{
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear:after{
	content: "";
	display: table;
	clear:both;
}
/*页头*/
header{
	position: relative;
    z-index: 30;
    height: 40px;
    font-size: 12px;
    color: #b0b0b0;
    background: #333;
    line-height: 40px;
}
.in_ggw img{
	width:100%;
}
.in_header{
	width:1226px;
	margin: 0 auto;
}
.in_hdNavLeft>li{
	float: left;
}
.in_hdNavLeft>li a,.in_hdNavRight>li a{
	color: #b0b0b0;
}
.in_hdNavLeft>li a:hover,.in_hdNavRight>li a:hover{
	color:#fff;
	text-decoration: none;
}
.in_hdNavRight>li{
	float: left;
}
.in_liewm:hover .in_ewm{
	display: block;
}
.in_ewm{
	width: 124px;
    position: absolute;
    top: 40px;
    padding: 18px 0px 14px;
    background: rgb(255, 255, 255);
    margin-left: -54px;
    box-shadow: rgb(170, 170, 170) 0px 1px 5px;
    text-align: center;
    display: none;
}
.in_ewm a{
	display: block;
}
.in_ewm img{
	width:90px;
	margin:0 auto;
	display: block;
}
.in_ewm span{
	margin-top:14px;
	display: block;
	margin:0 auto;
    font-size: 14px;
    color: #333;
    line-height: 1;
    margin-top: 14px;
}
.in_hdNavRight>li a{
	padding:0 10px;
}
.in_sp1{
	margin: 0 .5em;
    color: #424242;
}
.in_hdNavRight .iconfont{
	margin-right: 3px;
	font-size: 12px;
}

.in_first{
	padding:0 10px 0 20px;
	cursor: pointer;
	position: relative;
}
.in_first .iconfont{
	margin-left: 10px;
	font-weight: bold;
}
.in_first:hover .in_sp1{
	color:#fff;
}

.in_first:hover{
	background: #fff;
	color:#FF6700;
}
.in_first:hover>a{
	color:#ff6700;
}
.in_first:hover .in_firstMenu li a{
	color:#424242;
}
.in_last{
	margin-left:15px;
	background: #424242;
	height: 40px;
	cursor: pointer;
	padding:0 20px;
	position: relative;
	
}
.in_last:hover{
	color:#ff6700;
	background: #fff;
}
.in_firstMenu{
	position: absolute;
	top:100%;
	left:0;
	z-index: 3;
    width: 100%;
    text-align: center;
    padding:7px 0;
    line-height: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    display: none;
    background: #fff;
}
.in_firstMenu li a{
	/*color:#424242;*/
	color:#b0b0b0;
}
.in_first .in_firstMenu li:hover a{
	color:#FF6700;
}
.in_firstMenu li:hover{
	background: #eee;
}
.in_firstMenu li{
	height: 30px;
}
.in_lastMenu{
	position: absolute;
    right: 0;
    top: 40px;
    width: 316px;
    padding: 15px 0 0;
    color: #424242;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    display: none;
    z-index: 101;
}
.in_lastMenu p{
	padding:20px 0;
	margin:5px 20px 20px;
	text-align: center;
}
.in_nav{
	width:100%;
}
.in_navLeft{
	margin:22.5px 0;
}
.in_navLeft>a{
	display: block;
	height: 100%;
	width:55px;
	height: 55px;
}
.in_navLeft img{
	width:100%;
}
.in_navCenter{
	margin:18.5px 0 0;
	position: relative;
}
.in_navNav{
	position: relative;
    z-index: 10;
    float: left;
    width: 820px;
    height: 88px;
    margin: 0;
    padding: 0 0 0 80px;
    list-style-type: none;
	font-size: 16px;
}
.in_navNav li{
	float: left;
	padding:26px 10px 38px;
}
.in_navNav li a{
	color:#333;
}
.in_navNav>li:hover>a{
	color:#FF6700;
	text-decoration: none;
}
.in_navRight{
	position: relative;
	margin-top:25px;
}
#in_search{
	position: absolute;
    top: 0;
    right: 51px;
    z-index: 1;
    width: 223px;
    height: 48px;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
    font-size: 14px;
    line-height: 48px;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.in_ser{
	display: none;
	position: absolute;
	top:50px;
	left:-296px;
	text-align: center;
	border:1px solid #FF6700;
	border-top: none;
	z-index: 100;
}
.in_ser li{
	width:243px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	text-align: left;
	background: #fff;
}
.in_ser li:hover{
	background:#eee ;
}
.in_ser li a{
	color:#424242;
	display: block;
	padding: 0 10px;
}
.in_ser span{
	float: right;
	color:#bbb;
	
}
#in_sub1{
	position: absolute;
    right: 2px;
    top: 0;
    z-index: 10;
    width: 50px;
    height: 48px;
    transition: all 0.5s;
    border: 1px solid #e0e0e0;
    font-size: 24px;
    line-height: 24px;
    background: transparent;
    color: #616161;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
}
.in_searchOn{
	position: relative;
}
.in_On{
	position: absolute;
	top:14px;
	left:-190px;
	z-index: 10;
	transition: all 0.5s linear;
}
.in_On a{
	margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
    transition: all .2s;
}
.in_On a:hover{
	background: #FF6700;
	color:#fff;
}
form{
	position: relative;
}
.icon-fangdajing:before{
	position: absolute;
	top:14px;
	left: 13px;
}
#in_sub1 .in_navRight .iconfont:hover{
	color:#fff;
}
#in_sub1:hover{
	background: #FF6700;
}
#in_sub1:hover {
	color: #fff;
}
.in_hdcontainer{
	width:1226px;
	margin:0 auto;
}
.in_tcMenu{
	position: absolute;
	height: 230px;
	top:85px;
	left:0px;
	display: none;
	width:1226px;
	overflow: hidden;
	margin-left: 20px;
	background: #fff;
	z-index: 100;
}
.da{
	width:9884px;
	text-align: center;
	position: relative;
	padding-left:20px;
}
.in_tc{
	width:1226px;
	position: relative;
	/*display: inline-block;
	margin:0 20px;*/
	float: left;
}
.in_tc li{
	float: left;
}
/*.in_tc li:after{
	content: "";
	width:1px;
	height: 100px;
	position: absolute;
	top:35px;
	left:100%;
	background: #e0e0e0;
}*/
.in_tdq{
	background:url(../img/boder.jpg)no-repeat 0 0;
	text-align: center;
	width:180px;
	padding:35px 12px 0;
	position: relative;
}
.in_nob{
	background: none;
}
.in_tdq img{
	width: 100px;
}
.in_ds img{
	width:80px;
}
.in_h img{
 height:110px;	
}
.in_ttop{
	height: 18px;
	font-size: 12px;
    padding: 1px 20px;
    border: 1px solid #ff6700;
    color: #ff6700;
    display: inline-block;
    position: absolute;
    top:0px;
    left:70px;
}
.in_tdq h4 a{
	color:#333;
	font-size: 14px;
	font-weight: normal;
}
.in_tdq p{
	font-size: 12px;
	color:#FF6700;
	height: 20px;
	line-height: 20px;
}
/*全部分类*/
.ag_classify{
	width: 100%;
	height: 40px;
	background: #f5f5f5;
	font-size: 12px;
	line-height: 40px;
	color: #616161;
}
.container a{
	color: #757575;
	text-decoration: none;
}
.container .ag_fy{
	margin: 0 0.5em;
	color: #b0b0b0;
}
/*所有商品*/
.ag_list{
	position: relative;
	margin-top: -1px;
	background-color: #fff;
}
.ag_hd{
	height: 60px;
	padding-top: 26px;
	border-bottom: 1px solid #e0e0e0;
}
.ag_title{
	font-size: 18px;
	color: #ff6700;
	font-weight: 400;
}
.ag_title i{
	width: 20px;
	height: 20px;
	border: 1px solid #b0b0b0;
	display: inline-block;
	margin-right: 18px;
	border-radius: 15px;
	color: #B0B0B0;
	line-height: 20px;
	text-align: center;
	font-size: 5px;
}
.ag_bd{
	overflow: hidden;
}
.ag_cle{
	margin-right: -4px;
}
.ag_cle:after{
	content: "";
	display: block;
	clear: both;
}
.ag_fon{
	float: left;
    width: 240px;
    height: 160px;
    padding-top: 24px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}
.ag_img{
	display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto 24px;
}
.ag_img img{
	width: 100%;
}
.ag_a{
	color: #757575;
	text-decoration: none;
}
/*页尾*/
.in_containner{
    width: 1226px;
    margin: 0 auto;
    overflow: hidden;
}
.in_footer {
  background: #fff;
}
.in_footer .in_footer_T ul {
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
  padding: 27px 0;
}
.in_footer .in_footer_T ul li {
  display: inline-block;
  width: 19.8%;
  float: left;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-left: 1px solid #e0e0e0;
  vertical-align: middle;
}
.in_footer .in_footer_T ul li a {
  font-size: 16px;
  color: #616161;
  transition: all .2s;
}
.in_footer .in_footer_T ul li i {
  margin-right: 6px;
  font-size: 24px;
  line-height: 24px;
}
.in_footer .in_footer_T ul li:hover a {
  color: #ff6700;
}
.in_footer .in_footer_T ul li:nth-child(1) {
  border-left: none;
}
.in_footer .in_footer_B {
  overflow: hidden;
}
.in_footer .in_footer_B .in_footer_B_L {
  float: left;
}
.in_footer .in_footer_B .in_footer_B_L ul {
  display: inline-block;
  padding: 40px 0;
  float: left;
  width: 160px;
  height: 112px;
  margin: 0;
}
.in_footer .in_footer_B .in_footer_B_L ul li {
  margin-top: 10px;
  font-size: 12px;
}
.in_footer .in_footer_B .in_footer_B_L ul li a {
  color: #757575;
  transition: all .25s;
}
.in_footer .in_footer_B .in_footer_B_L ul li a:hover {
  color: #ff6700;
}
.in_footer .in_footer_B .in_footer_B_L ul li:nth-child(1) {
  margin: -1px 0 26px;
  font-size: 14px;
  line-height: 1.25;
  color: #424242;
}
.in_footer .in_footer_B .in_footer_B_R {
  float: right;
  padding: 40px 0;
  text-align: center;
  color: #616161;
}
.in_footer .in_footer_B .in_footer_B_R .in_footer_B_R1 {
  width: 251px;
  height: 112px;
  border-left: 1px solid #e0e0e0;
}
.in_footer .in_footer_B .in_footer_B_R .in_footer_B_R1 p:nth-child(1) {
  margin: 0 0 5px;
  font-size: 22px;
  line-height: 1;
  color: #ff6700;
}
.in_footer .in_footer_B .in_footer_B_R .in_footer_B_R1 p:nth-child(2) {
  margin: 0 0 16px;
  font-size: 12px;
}
.in_footer .in_footer_B .in_footer_B_R .in_footer_B_R1 a {
  font-size: 12px;
  display: inline-block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ff6700;
  color: #ff6700;
  text-align: center;
  transition: all .25s;
}
.in_footer .in_footer_B .in_footer_B_R .in_footer_B_R1 a:hover {
  background: #ff6700 !important;
  color: #fff;
}
.in_foot {
  background: #fafafa;
}
.in_foot .in_foot_ins {
  overflow: hidden;
  font-size: 12px;
}
.in_foot .in_foot_ins .in_foot_L {
  float: left;
  width: 57px;
  height: 57px;
  margin-right: 10px;
  display: inline-block;
}
.in_foot .in_foot_ins .in_foot_L img {
  width: 100%;
}
.in_foot .in_foot_ins .in_foot_C {
  float: left;
}
.in_foot .in_foot_ins .in_foot_C p:nth-child(1) a {
  color: #757575;
  font-size: 12px;
  line-height: 18px;
}
.in_foot .in_foot_ins .in_foot_C p:nth-child(1) a:hover {
  color: #ff6700;
}
.in_foot .in_foot_ins .in_foot_C p:nth-child(1) span {
  margin: 0 3px;
  border-right: 1px solid #b0b0b0;
  line-height: 18px;
  font-size: 12px;
}
.in_foot .in_foot_ins .in_foot_C p:nth-child(1) span:last-child {
  border-right: none;
}
.in_foot .in_foot_ins .in_foot_C p:nth-child(2) {
  color: #b0b0b0;
}
.in_foot .in_foot_ins .in_foot_C p:nth-child(2) a {
  color: #b0b0b0;
  font-size: 12px;
  line-height: 18px;
}
.in_foot .in_foot_ins .in_foot_C p:nth-child(2) a:hover {
  color: #ff6700;
}
.in_foot .in_foot_ins .in_foot_R {
  float: right;
}
.in_foot .in_foot_ins .in_foot_R img {
  width: 85px;
  height: 28px;
  cursor: pointer;
}
.in_foot .in_foot_in {
  overflow: hidden;
  padding: 30px 0;
}
.in_foot .in_foot_in .in_foot_txt {
  margin: 30px auto 0;
  width: 267px;
  height: 19px;
  background: url(../img/slogan2016.png) no-repeat center 0;
}