html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
	  font-size: 14px;
    font-family: arial,"Hiragino Sans GB", "Microsoft YaHei","微軟正黑體","儷黑 Pro", sans-serif;
}
ol, ul {
    list-style: none;
}
a{
    text-decoration: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clear:after{
    content: "";
    display: table;
    clear:both;
}
.zc {
  width: 100%;
  min-height: 100%;
  height: auto;
  color: #666;
  background: #f9f9f9;
  overflow: hidden;
}
.zc_contain {
  background: #fff;
  padding: 0 34px 30px 34px ;
  width: 786px;
  margin: 80px auto;
}
.zc_logo {
  padding-bottom: 40px;
  text-align: center;
}
.zc_title > h4 {
  color: #333;
  line-height: 1.5;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
}
.zc_box{
	width: 332px;
    padding: 30px 0;
    line-height: 20px;
    margin: 0 auto;
}
.register_id{
	font-size: 14px;
    padding-top: 15px;
    text-align: center;
}
.user-id{
	    color: #ff6700;
}
.zc_loading{
	padding-top: 65px;
	padding-bottom: 15px;
}
.loading{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url(../img/loading.png);
}
.sync_text{
	text-align: center;
	padding-top: 15px;
}
.zc_fail_con{
	margin-top: 5px;
}
.zc_fail_con>div{
	text-align: left;
	display: inline-block;
	width: 300px;
	vertical-align: top;
	
	
}
.zc_warning{
	display: inline-block;
	width: 18px;
	height: 18px;
	padding-right: 10px;
	background:url(../img/icon_user.png) no-repeat -48px 0;
	position: relative;
	top: 5px;
}
.dl_btn{
	background-color: #ff6700;
  border: 1px solid rgba(186,186,186,0.3);
  border: 0 none;
  width: 330px;
	height: 42px;
	margin: 0 auto;
	line-height: 42px;
	text-align: center;
	font-size: 14px;
	display: block;
	cursor: pointer;
	margin-top: 15px;
	color: white;
}
.zc_footer_ul{
	text-align: center;
}
.zc_footer_ul li{
	display: inline-block;
	
	
}
.zc_footer_ul li a{
	color:  #757575;
	padding: 0 10px;
}
.zc_footer_ul li:nth-child(1) a{
	color: #000;
	
}
.zc_footer_ul li a:hover{
	color: #000;
}
.zc_foot{
	text-align: center;
	padding: 10px;
}
